replicaCount: 1

imagePullSecrets: []

image:
  repository: loctrec-events
  tag: ""
  pullPolicy: IfNotPresent

service:
  port: 8082

env:
  PORT: "8082"
  DATABASE_URL: "postgres://loctrec:loctrec@postgres-postgresql:5432/loctrec?sslmode=disable"
  AUTH_JWKS_URL: "http://auth:8081/.well-known/jwks.json"

resources:
  requests:
    memory: 32Mi
    cpu: 10m
  limits:
    memory: 128Mi
    cpu: 250m
