replicaCount: 1

imagePullSecrets: []

image:
  repository: loctrec-auth
  tag: ""
  pullPolicy: IfNotPresent

service:
  port: 8081

env:
  PORT: "8081"
  DATABASE_URL: "postgres://loctrec:loctrec@postgres-postgresql:5432/loctrec?sslmode=disable"

resources:
  requests:
    memory: 64Mi
    cpu: 50m
  limits:
    memory: 256Mi
    cpu: 500m
